# Importing Pandas library

In [1]:
import pandas as pd

# Assigning the data set in the handle diversity

In [2]:
diversity = pd.read_csv('Diversity in GSIMR.csv')

# Opening/Reading the data set in Python

In [3]:
diversity

,Timestamp,Name:,Age group:,Gender:,Religion:,Caste:,Languages that you often speak and have knowledge of (can be more than 2):,What is your stream / field of interest
0,5/22/2021 19:25:50,Aakanksha pandey,21-23,Female,Hinduism,General,"Hindi, English","Marketing, IT"
1,5/22/2021 19:49:02,Aashish Devkota,21-23,Male,Hinduism,General,"Hindi, English","Finance, Marketing"
2,5/22/2021 19:53:25,Abhay mehta,19-21,Male,Hinduism,General,"Hindi, English","Finance, Marketing"
3,5/22/2021 13:27:25,Abhishek jain,21-23,Male,Jainism,General,"Hindi, English","Marketing, Business Analytics"
4,5/23/2021 14:29:43,Abhishek Swamy,21-23,Male,Hinduism,General,"Hindi, English, Tamil","HR, Business Analytics, IT"
...,...,...,...,...,...,...,...,...
94,5/22/2021 14:06:37,Urvashi Shrivastava,23-25,Female,Hinduism,General,"Hindi, English","Marketing, HR"
95,5/22/2021 20:34:55,Vaishnavi Tantak,21-23,Female,Hinduism,OBC,"Hindi, English, Marathi","Marketing, HR"
96,5/22/2021 19:19:31,Yash Awasthi,23-25,Male,Hinduism,General,"Hindi, English","Marketing, Business Analytics"
97,5/22/2021 22:47:36,Yashika Jain,19-21,Female,Hinduism,General,"Hindi, English","Marketing, HR"
98,5/22/2021 20:16:34,Yogita Patil,Above 25,Female,Hinduism,OBC,"Hindi, English, Marathi","Finance, Marketing"

In [4]:
diversity['Gender:']

0     Female
1       Male
2       Male
3       Male
4       Male
       ...
94    Female
95    Female
96      Male
97    Female
98    Female
Name: Gender:, Length: 99, dtype: object

# Number of Students following Hinduism.

In [8]:
tot = 0
for i in diversity['Religion:']:
    if i == 'Hinduism':
        tot = tot + 1
tot

91

# Now let's see how many students belong to the General Category.

In [11]:
d = diversity['Caste:']
t = 0
for i in d:
    if i == 'General':
        t = t + 1
t

63

# Let's find out that how many students in the college are of age above 25.

In [16]:
d = diversity['Age group:']
t = 0
for line in d:
    if line == 'Above 25':
        t = t + 1
t

7

# Students belonging to age group 19-21.

In [17]:
d = diversity['Age group:']
t = 0
for line in d:
    if line == '19-21':
        t = t + 1
t

15

# Students belonging to age group 21-23.

In [18]:
d = diversity['Age group:']
t = 0
for line in d:
    if line == '21-23':
        t = t + 1
t

54

# Students belonging to age group 23-25.

In [19]:
d = diversity['Age group:']
t = 0
for line in d:
    if line == '23-25':
        t = t + 1
t

23

# Students belonging to OBC Category

In [22]:
obc = diversity['Caste:']
total = 0
for line in obc:
    if line == 'OBC':
        total = total + 1
print(total)

28

# Using the head function

In [27]:
diversity.head()

,Timestamp,Name:,Age group:,Gender:,Religion:,Caste:,Languages that you often speak and have knowledge of (can be more than 2):,What is your stream / field of interest
0,5/22/2021 19:25:50,Aakanksha pandey,21-23,Female,Hinduism,General,"Hindi, English","Marketing, IT"
1,5/22/2021 19:49:02,Aashish Devkota,21-23,Male,Hinduism,General,"Hindi, English","Finance, Marketing"
2,5/22/2021 19:53:25,Abhay mehta,19-21,Male,Hinduism,General,"Hindi, English","Finance, Marketing"
3,5/22/2021 13:27:25,Abhishek jain,21-23,Male,Jainism,General,"Hindi, English","Marketing, Business Analytics"
4,5/23/2021 14:29:43,Abhishek Swamy,21-23,Male,Hinduism,General,"Hindi, English, Tamil","HR, Business Analytics, IT"

# Using the tail function.

In [28]:
diversity.tail()

,Timestamp,Name:,Age group:,Gender:,Religion:,Caste:,Languages that you often speak and have knowledge of (can be more than 2):,What is your stream / field of interest
94,5/22/2021 14:06:37,Urvashi Shrivastava,23-25,Female,Hinduism,General,"Hindi, English","Marketing, HR"
95,5/22/2021 20:34:55,Vaishnavi Tantak,21-23,Female,Hinduism,OBC,"Hindi, English, Marathi","Marketing, HR"
96,5/22/2021 19:19:31,Yash Awasthi,23-25,Male,Hinduism,General,"Hindi, English","Marketing, Business Analytics"
97,5/22/2021 22:47:36,Yashika Jain,19-21,Female,Hinduism,General,"Hindi, English","Marketing, HR"
98,5/22/2021 20:16:34,Yogita Patil,Above 25,Female,Hinduism,OBC,"Hindi, English, Marathi","Finance, Marketing"

# To know the column names of the data set

In [29]:
diversity.columns

Index(['Timestamp', 'Name:', 'Age group:', 'Gender:', 'Religion:', 'Caste:',
       'Languages that you often speak and have knowledge of (can be more than 2):',
       'What is your stream / field of interest'],
      dtype='object')

# Describing the heads of data set

In [30]:
diversity.describe()

,Timestamp,Name:,Age group:,Gender:,Religion:,Caste:,Languages that you often speak and have knowledge of (can be more than 2):,What is your stream / field of interest
count,99,99,99,99,99,99,99,99
unique,99,96,4,2,4,4,8,18
top,5/22/2021 21:19:19,Rashmi Tiwari,21-23,Female,Hinduism,General,"Hindi, English","Finance, Marketing"
freq,1,2,54,63,91,63,79,31

# Let's see how many number of rows and columns are there in the data set

In [31]:
diversity.shape

(99, 8)

# Let's see if there is any missing value or null value in our data set

In [33]:
# The output is false in all the columns which indicates that there is no null value in the data set.

In [32]:
diversity.isna()

,Timestamp,Name:,Age group:,Gender:,Religion:,Caste:,Languages that you often speak and have knowledge of (can be more than 2):,What is your stream / field of interest
0,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...
94,False,False,False,False,False,False,False,False
95,False,False,False,False,False,False,False,False
96,False,False,False,False,False,False,False,False
97,False,False,False,False,False,False,False,False
98,False,False,False,False,False,False,False,False

# Slicing data using String Method

In [36]:
diversity['What is your stream / field of interest'].str.split(',').head()

0                    [Marketing,  IT]
1               [Finance,  Marketing]
2               [Finance,  Marketing]
3    [Marketing,  Business Analytics]
4      [HR,  Business Analytics,  IT]
Name: What is your stream / field of interest, dtype: object

# Slicing and Extracting data using Apply method

In [38]:
# If you look in the dataset you will find that there are more than one value present in the coloumn of -
#'What is your stream / field of interest', therefore to extract a particular value we will slice the whole string 
# with the help of Apply method.

In [37]:
def get_element(my_list,position):
    return my_list[position]
diversity['What is your stream / field of interest'].str.split(',').apply(get_element,position = 0).head()

0    Marketing
1      Finance
2      Finance
3    Marketing
4           HR
Name: What is your stream / field of interest, dtype: object

# We can also Extract values using Lamda method

In [39]:
diversity['What is your stream / field of interest'].str.split(',').apply(lambda x:x[0]).head()

0    Marketing
1      Finance
2      Finance
3    Marketing
4           HR
Name: What is your stream / field of interest, dtype: object

# Counting the Extracted data (for position 1)

In [ ]:
# Using 'for' loop to count the no. of positions of 'Marketing' in the column 'What is your stream / field of interest', by
# slicing and extracting the data with the help of Lambda function.

In [40]:
d = diversity['What is your stream / field of interest'].str.split(',').apply(lambda x:x[0])
count = 0
for line in d:
    if line == 'Marketing':
        count = count + 1
count

31